body {
    margin: 30px;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 30px;
}

#list-container {
    width: 250px;
    height: 350px;
    overflow-y: auto;
    border: 10px solid black;
    padding: 0 20px;
    box-sizing: border-box;
}

#list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#list li {
    padding: 15px 10px;
    font-size: 16px;
}